@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

/**FOR PC**/

/**structure**/
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    zoom: 67%;
    /**fixed for windows...**/
    font-family: 'Montserrat', sans-serif;
    background-color: #F0EFEB;
    overflow-y: hidden;
}

header {
    height: 10%;
    width: 100%;
    padding: 50px 0;
    z-index: 1;
    background-color: #B7B7A4;
    color: #F0EFEB;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    height: 90%;
    max-width: 100%;
    font-size: 0.88em;
    background-color: #f0efeb;
    display: flex;
    justify-content: center;

}

.left {
    height: 100%;
    width: 20%;
    background-color: #e4e4de;
    text-align: left;
    font-size: 1.2em;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 0;
    overflow-y: scroll;

}

.right {
    height: 112vh;
    width: 80%;
    overflow-y: scroll;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 0;
}


.work-experience {
    display: flex;
    gap: 50px;
}

.topExperience {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    margin-bottom: 30px;
}

.topExperience .work-experience1 {
    margin-bottom: 0;
    height: fit-content;
}

.topExperience .work-experience1:nth-child(even) {
    margin-left: 25px;
    /* Add left margin to even-numbered columns (second column) */
}



.full-width-line {
    border: 1px solid #ccc;
    height: 1px;
    /* Adjusted height to match the border size */
    width: 95%;
    margin-left: -5px;
    z-index: 1;
}

.column1 {
    width: 50%;
    margin-top: 20px;

}

.column2 {
    width: 50%;
    margin-top: 20px;

}


/**header**/
.dropdownicon {
    position: absolute;
    margin-right: 20px;
    top: 70px;
    right: 30px;
}

.dropdownicon.active {
    position: absolute;
    top: 70px;
    right: 16%;
    background-color: #f0efebde;
    border-radius: 50px;
    padding: 10px;
    padding-bottom: 5px;
}

/**styling**/
h1 {
    font-size: 36px;
    margin: 0;
    color: #1B1B1B;
}


h2 {
    margin-top: 4rem;
    text-align: center;
}



.title h1 {
    font-size: 36px;
    margin: 0;
    color: #1B1B1B;
}

.title p {
    font-size: 18px;
    color: #1B1B1B;
}


.left p {
    text-align: left;
    margin: 0;
}

.left h3 {
    margin-bottom: 0;
}

.left h5 {
    margin: 0;
    font-style: italic;
    font-weight: 500;

}

.left h4 {
    margin-bottom: 0;

}


.right h4 {
    margin: 0;
    font-style: italic;
    font-weight: 500;
}

.right h2 {
    font-size: 2em;
}

.right h3 {
    margin-bottom: 0;
}

.right p {
    text-align: left;
    text-wrap: wrap;
    margin: 0;
    padding-top: 5px;
}


/**sidebar**/
.sidebar {
    height: 100%;
    width: 13.5%;
    position: fixed;
    top: 0;
    right: -400px;
    /* Initially hidden */
    padding: 20px;
    transition: right 0.3s;
    z-index: 1;
    background-color: #333;
    color: #fff;
}

.sidebar.active {
    right: 0;
    /* Display the sidebar */
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin-top: 50vh;
}

.sidebar li {
    margin: 10px 0;
    text-decoration: none;
    color: #F0EFEB;
    font-size: 20px;
}

.sidebar li:hover {
    color: #B7B7A4;
    font-size: 1.5em;
}

.sidebar li:active {
    color: #69695f;
    font-size: 1.5em;
}
























/**FOR PHONES VERTICAL**/
@media only screen and (max-width: 800px) {

    /**structure**/
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    body {
        zoom: 67%;
        /**fixed for windows...**/
        font-family: 'Montserrat', sans-serif;
        background-color: #F0EFEB;
        overflow-y: hidden;
    }

    header {
        height: 10%;
        width: 100%;
        padding: 50px 0;
        z-index: 1;
        background-color: #B7B7A4;
        color: #F0EFEB;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .container {
        height: 90%;
        max-width: 100%;
        font-size: 0.88em;
        background-color: #f0efeb;
        display: flex;
        justify-content: center;

    }

    .left {
        height: 100%;
        width: 20%;
        background-color: #e4e4de;
        text-align: left;
        font-size: 1.2em;
        padding: 50px;
        padding-top: 100px;
        padding-bottom: 0;
        overflow-y: scroll;

    }

    .right {
        height: 112vh;
        width: 80%;
        overflow-y: scroll;
        padding: 100px;
        padding-top: 50px;
        padding-bottom: 0;
    }


    .work-experience {
        display: flex;
        gap: 50px;
    }

    .topExperience {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        gap: 0;
        margin-bottom: 30px;
    }

    .topExperience .work-experience1 {
        margin-bottom: 0;
        height: fit-content;
    }

    .topExperience .work-experience1:nth-child(even) {
        margin-left: 25px;
        /* Add left margin to even-numbered columns (second column) */
    }



    .full-width-line {
        border: 1px solid #ccc;
        height: 1px;
        /* Adjusted height to match the border size */
        width: 95%;
        margin-left: -5px;
        z-index: 1;
    }

    .column1 {
        width: 50%;
        margin-top: 20px;

    }

    .column2 {
        width: 50%;
        margin-top: 20px;

    }


    /**header**/
    .dropdownicon {
        position: absolute;
        margin-right: 20px;
        top: 70px;
        right: 30px;
    }

    .dropdownicon.active {
        position: absolute;
        top: 70px;
        right: 16%;
        background-color: #f0efebde;
        border-radius: 50px;
        padding: 10px;
        padding-bottom: 5px;
    }

    /**styling**/
    h1 {
        font-size: 36px;
        margin: 0;
        color: #1B1B1B;
    }


    h2 {
        margin-top: 4rem;
        text-align: center;
    }



    .title h1 {
        font-size: 36px;
        margin: 0;
        color: #1B1B1B;
    }

    .title p {
        font-size: 18px;
        color: #1B1B1B;
    }


    .left p {
        text-align: left;
        margin: 0;
    }

    .left h3 {
        margin-bottom: 0;
    }

    .left h5 {
        margin: 0;
        font-style: italic;
        font-weight: 500;

    }

    .left h4 {
        margin-bottom: 0;

    }


    .right h4 {
        margin: 0;
        font-style: italic;
        font-weight: 500;
    }

    .right h2 {
        font-size: 2em;
    }

    .right h3 {
        margin-bottom: 0;
    }

    .right p {
        text-align: left;
        text-wrap: wrap;
        margin: 0;
        padding-top: 5px;
    }


    /**sidebar**/
    .sidebar {
        height: 100%;
        width: 13.5%;
        position: fixed;
        top: 0;
        right: -400px;
        /* Initially hidden */
        padding: 20px;
        transition: right 0.3s;
        z-index: 1;
        background-color: #333;
        color: #fff;
    }

    .sidebar.active {
        right: 0;
        /* Display the sidebar */
    }

    .sidebar ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        list-style: none;
        padding: 0;
        margin-top: 50vh;
    }

    .sidebar li {
        margin: 10px 0;
        text-decoration: none;
        color: #F0EFEB;
        font-size: 20px;
    }

    .sidebar li:hover {
        color: #B7B7A4;
        font-size: 1.5em;
    }

    .sidebar li:active {
        color: #69695f;
        font-size: 1.5em;
    }


    html {
        overflow-x: hidden;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 5%;
        padding-right: 5%;

    }

    header {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    h1 {
        font-size: 2.1em;
    }

    .left {
        font-size: 1em;
        width: 100%;
        height: 30%;
        margin: 0;
        margin-top: -10%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        gap: 10px;
        background-color: #f0efeb;
    }




    .right {
        margin-top: -25px;
        padding: 0;
        width: 100%;
        height: 55%;
        background-color: #e4e4de;
        border-radius: 25px;
        margin: 30px;
        box-shadow: 6px 4px 16px 0px rgba(0, 0, 0, 0.38);

    }

    .right h2 {
        font-size: 1.8em;
    }

    .left p {
        text-align: left;
    }

    .left h2 {
        text-align: left;
        margin-top: 0;
    }




    .sidebar {
        width: 30%;
    }

    #dropdown-icon {
        width: 40px;
    }

    .dropdownicon {
        width: fit-content;
        padding: 5px;
        position: absolute;
        top: 50px;
        right: 15px;
    }

    .dropdownicon.active {
        background-color: #f0efebde;
        border-radius: 50px;
        position: absolute;
        top: 50px;
        right: 35%;
    }



    .work-experience {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .work-experience p {
        text-align: center;
    }

    .work-experience1 {
        max-width: 70%;
    }

    .topExperience {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .column1 {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .column2 {
        width: 100%;
        margin: 0;
        margin-top: -5%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .full-width-line {

        margin-left: 10px;

    }




}

/**SURFACE PRO7**/
@media only screen and (min-width: 801px) and (max-width: 950px) {
    .sidebar.active {
        width: 20%;
    }

    .dropdownicon.active {
        right: 25%;

    }
}


/**NEST HUB HORIZONTAL**/
@media only screen and (max-width: 1024px) and (orientation: landscape) {
   .left {
    padding-top: 0;
   }

   .right {
    padding-top: 0;
   }

}