@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F0EFEB;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    /* Vertically center h1 and p within the header */
    justify-content: center;
    text-align: center;
    background-color: #B7B7A4;
    color: #F0EFEB;
    padding: 50px 0;
    position: fixed;
    width: 100%;
}


.dropdownicon {
    position: absolute;
    top: 70px;
    right: 30px;
}

.dropdownicon.active {
    position: absolute;
    top: 70px;
    right: 300px;
}




.title {
    text-align: center;
}

.dropdownicon {
    /* Add some spacing between the content and img */
    margin-right: 50px;
}

h1 {
    font-size: 36px;
    margin: 0;
    color: #1B1B1B;
}

p {
    font-size: 18px;
    color: #1B1B1B;
}

.bio {
    margin-top: 10px;
    width: 740px;
    text-align: center;
    gap: 6px;
    font-size: 1em;
    margin: 0 auto;
    /* Add this line to center the bio */
}


.grid-item img {
    transition: opacity 0.5s ease-in-out;
    /* Adjust the duration and timing function as needed */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 230px 20px 20px; /* Adjust the top padding value as needed */
    background-color: #F0EFEB;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.grid-item {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.grid-item img,
.grid-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    margin-top: 4rem;
    text-align: center;
}

p {
    text-align: center;

}


.sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    /* Initially hidden */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    transition: right 0.3s;
    /* Add smooth transition effect */

}

.sidebar.active {
    right: 0;
    /* Display the sidebar */
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin-top: 30vh;
}

.sidebar li {
    margin: 10px 0;
    text-decoration: none;
    color: #F0EFEB;
    font-size: 20px;
}


.sidebar li:hover {
    color: #B7B7A4;
    /* New text color on hover */
    font-size: 1.5em;
}

.sidebar li:active {
    color: #69695f;
    /* New text color on hover */
    font-size: 1.5em;
}


/* Existing styles... */

.grid-item {
    position: relative;
    /* Set position relative for absolute positioning of buttons */
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #3333333f;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.grid-item img {
    height: 241.66px;
}



/* Add this to your existing CSS file */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1200px;

    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
}

.active-popup {
    width: 1200px;
    height: 692px;


}


.prev-btn-popup,
.next-btn-popup {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #3333333f;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.prev-btn-popup {
    left: 0;
}

.next-btn-popup {
    right: 0;
}

.slideshow-popup {
    position: relative;
}

.popup-info {
    padding: 20px;
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    background-color: #00000059;
    width: 40px;
    height: 40px;
    line-height: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}


.slideshow-popup {
    width: 1200px;
    /* Set the width of the slideshow-popup */
    height: 600px;
    /* Set the height of the slideshow-popup */
    overflow: hidden;
    /* Ensure the image doesn't overflow the container */
}

.slideshow-popup img {
    width: 100%;
    /* Make the image fill the width of the container */
    height: 100%;
    /* Make the image fill the height of the container */
    object-fit: cover;
    /* Maintain the image's aspect ratio and cover the entire container */
    object-position: center;
    /* Center the image within the container */
}

.popup-info {
    margin-top: -55px;
    text-align: center;
}


/* Existing styles for PC... */

/* Add this to your existing CSS file */

/* Responsive styles for phones */
@media only screen and (max-width: 767px) {
    header {
        padding: 10px 5px;
        /* Adjust padding for better spacing on small screens */
    }

    .dropdownicon {
        position: absolute;
        top: 20px;
        /* Adjust the top position for better spacing on small screens */
        right: -15px;
        /* Adjust the right position for better spacing on small screens */
    }


    #dropdown-icon {
        width: 40px;
    }
    
    .dropdownicon.active {
        position: absolute;
        top: 20px;
        right: 275px;
    }
    

    .title {
        text-align: center;
    }

    .bio {
        padding: 10px;
        font-size: 0.8em;
    }

    h1 {
        font-size: 30px;
        /* Adjust font size for better readability on small screens */
    }

    h2 {
        font-size: 20px;
    }

   

    .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid-item {
        width: 70%;
    }

    p {
        font-size: 14px;
        /* Adjust font size for better readability on small screens */
    }

    .bio {
        width: 90%;
        /* Make the bio responsive to the width of the screen */
    }


    .popup {
        width: 100%;

    }

    .slideshow-popup {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .slideshow-popup img {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }

    .popup-info {
        margin-top: -10px;
    }

    header {
        padding: 20px 10px; /* Adjust padding for better spacing on small screens */
    }

    .container {
        padding: 125px 10px 10px; /* Adjust the top padding value for mobile */
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        /* Adjust minmax values for better 7responsiveness */
        gap: 10px;
    }

    .grid-item img,
    .grid-item video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h2 {
        margin-top: 1rem;
        visibility: visible;
        /* Adjust margin for better spacing on small screens */
    }

    .grid-item img {
        max-width: 100%;
        height: auto;
    }

    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 15px;
        color: #fff;
        background-color: #00000059;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }

    /* Add more responsive styles as needed */
}

/* Responsive styles for landscape orientation on phones */
@media only screen and (max-width: 767px) and (orientation: landscape) {
   
    .popup {
        width: 100%;
        height: 100%;
       /** position:absolute;
        top: 5%;
        left: 5%;**/
    }

   
    .popup-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 60%;
        max-height: 100%; /* Added to ensure the content doesn't overflow */
        overflow: hidden; /* Hide overflow content */
        background-color: #fff;
        border-radius: 5px;
    }

    .popup-info {
        height: 60px;
        overflow-y: auto; /* Enable vertical scrolling for the info section */
        display: flex;
        flex-direction: column;
        gap:10px;
    }

    .popup-info h2 {
        font-size: 1.2em;
        margin: 0;
    }

    .popup-info h4 {
        font-size:0.9em;
        margin: 0;
    }

    .popup-info p {
        margin: 0;
        font-size: 0.8em;
    }

    


    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 15px;
        color: #fff;
        background-color: #00000059;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1; /* Ensure it's above other elements */
    }

}
